.container-loader {
  width: 100px;
  height: 50px;
  .wave {
    margin-top: 15px;
    float: left;
    width: 18px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #333;
    margin-left: -2px;
    animation: slide 0.6s infinite linear;

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:nth-child(2n + 1) {
      animation-delay: 0.3s;
    }
  }
}

@keyframes slide {
    50% {
      margin-top: 25px;
    }
  }
