<div class="doggies-flickr__list-content" 
  appVirtualScroll 
  [payload]="payload">
  <div class="total-list">
    <span>total: {{total}}</span>
  </div>
  <div class="photo-list">
    <div class="photo-item" *ngFor="let photo of photos">
        <a href="javascript:void(0)">
          <img [src]="photo.url_n"
                 [alt]="photo.title" 
                 [width]="photo.width_n" 
                 [height]="photo.height_n" />
            <div class="overlay"></div>
            <div class="caption">
              <span class="title">{{photo.title}}</span>
              <span class="author">By {{photo.ownername}}</span>
            </div>
        </a>
      </div>
  </div>
</div>